<div class="final-card">
  <div class="final-card__info">
    <div class="info__personal">
      <span class="card-name">Александр Александрович</span>
      <span class="card-email">alex@lun.ua</span>
    </div>
    <div class="info__location">
      <span class="card-location">Киев, Украина</span>
    </div>
    <div class="info__social">
      <span class="card-fb">Facebook: fb.com/alex</span>
      <span class="card-vk">Twitter: twitter.com/alex</span>
      <span class="card-tw"></span>
      <span class="card-ok"></span>
    </div>
  </div>
  <div class="final-card__image">
    <img class="card-img" src="img/cat1.jpg" alt="">
  </div>
</div>
