<div class="profile-card">
  <div class="profile-card__information">
    <div class="profile-card__personal">
      <span class="profile-card__name">Александр Александрович</span>
      <span class="profile-card__email">alex@lun.ua</span>
    </div>
    <span class="profile-card__location">Киев, Украина</span>
    <div class="profile-card__social-networks">
      <span class="profile-card__fb">Facebook: fb.com/alex</span>
      <span class="profile-card__vk">Twitter: twitter.com/alex</span>
      <span class="profile-card__tw"></span>
      <span class="profile-card__ok"></span>
    </div>
  </div>
  <img class="profile-card__image" src="img/cat1.jpg" alt="">
</div>
<a class="pagination-btn__item pagination-btn__reset">Пройти заново</a>
