<div class="questionnaire">
{{>pagination-pg}}
  <div class="questionnaire__description">
    <span>1. Введите имя и e-mail</span>
  </div>
  <div class="questionnaire__data-input">
    <form class="form" action="index.html" method="post">
      <div class="form__item">
        <input class="form__input form__name" type="text" name="name" value="" placeholder="Имя">
        <span id="name-error" class="form__error form__error--hidden">&#8212; некорректное имя</span>
      </div>
      <div class="form__item">
        <input class="form__input form__email" type="text" name="email" value=""
        placeholder="E-mail">
        <span id="email-error" class="form__error form__error--hidden">&#8212; некорректный e-mail</span>
      </div>
    </form>
  </div>
  {{>pagination-btn}}
</div>
