<div class="questionnaire">
{{>pagination-pg}}
  <div class="questionnaire__description">
    <span>3. Отметьте социальные сети</span>
  </div>
  <div class="questionnaire__data-input">
    <div class="form">
      <div class="form__item form__item--space-between">
        <div class="form__social-network">
          <input type="checkbox" name="check_fb">
          <span>Facebook</span>
        </div>
        <input class="form__input form__input--hidden" type="text" name="input_fb" placeholder="Ваша страница в Facebook">
      </div>
      <div class="form__item form__item--space-between">
        <div  class="form__social-network">
          <input type="checkbox" name="check_vk">
          <span>Вконтакте</span>
        </div>
        <input class="form__input form__input--hidden" type="text" name="input_vk" placeholder="Ваша страница в Vkontakte">
      </div>
      <div class="form__item form__item--space-between">
        <div  class="form__social-network">
          <input type="checkbox" name="check_tw">
          <span>Twitter</span>
        </div>
        <input class="form__input form__input--hidden" type="text" name="input_tw" placeholder="Ваша страница в Twitter">
      </div>
      <div class="form__item form__item--space-between">
        <div class="form__social-network">
          <input type="checkbox" name="check_ok">
          <span>Одноклассники</span>
        </div>
        <input class="form__input form__input--hidden" type="text" name="input_ok" placeholder="Ваша страница в Odnoklasniki">
      </div>
      <span id="url-error" class="form__error form__error--hidden">&#8212; cсылка должна быть вида social.network/yourID</span>
    </div>
  </div>
  {{>pagination-btn}}
</div>
