<div class="form">
  <div class="form__pag-num">
    <a class="pag-num__page" data-value="1">1</a>
    <a class="pag-num__page" data-value="2">2</a>
    <a class="pag-num__page" data-value="3">3</a>
    <a class="pag-num__page" data-value="4">4</a>
  </div>
  <div class="form__description">
    <span>2. Выберите страну и город</span>
  </div>
  <div class="form__user-interaction">
    <select name=""></select>
    <select name=""></select>
  </div>
  <div class="form__pag-nav">
    <a id="prev" class="pag-nav"><i class="material-icons">keyboard_arrow_left</i> Предыдущий</a>
    <a id="next" class="pag-nav">Следующий <i class="material-icons">keyboard_arrow_right</i></a>
  </div>
</div>
