<div class="form">
  <div class="form__pag-num">
    <a class="pag-num__page" data-value="1">1</a>
    <a class="pag-num__page" data-value="2">2</a>
    <a class="pag-num__page" data-value="3">3</a>
    <a class="pag-num__page" data-value="4">4</a>
  </div>
  <div class="form__description">
    <span>4. Выберите любимого котика</span>
  </div>
  <div class="form__user-interaction">
    <div class="user-interaction__images">
      <img class="animal" src="img/cat1.jpg" data-animal="cat" alt="cat1">
      <img class="animal" src="img/cat2.jpg" data-animal="cat" alt="cat2">
      <img class="animal" src="img/cat3.jpg" data-animal="cat" alt="cat3">
      <img class="animal" src="img/dog4.jpg" data-animal="dog" alt="dog1">
    </div>
    <span id="animal-error" class="not-valid-msg display-none">Вы выбрали собачку. А надо котика</span>
  </div>
  <div class="form__pag-nav">
    <a  id="prev"  class="pag-nav"><i class="material-icons">keyboard_arrow_left</i> Предыдущий</a>
    <a id="final"  class="pag-nav pag-nav--end">Завершить</a>
  </div>
</div>
