<div class="questionnaire">
{{>pagination-pg}}
  <div class="questionnaire__description">
    <span>2. Выберите страну и город</span>
  </div>
  <div class="questionnaire__data-input">
    <form class="form" action="index.html" method="post">
      <div class="form__item">
        <select name=""></select>
        <span id="name-error" class="form__error form__error--hidden">&#8212; </span>
      </div>
      <div class="form__item">
        <select name=""></select>
        <span id="email-error" class="form__error form__error--hidden">&#8212; </span>
      </div>
    </form>
  </div>
  {{>pagination-btn}}
</div>
