<div class="questionnaire">
{{>pagination-pg}}
  <div class="questionnaire__description">
    <span>4. Выберите любимого котика</span>
  </div>
  <div class="questionnaire__data-input">
    <form class="form">
      <div class="form__item">
        <div class="animal-img">
          <img class="animal-img__item" src="img/cat1.jpg" data-animal="cat" alt="cat1">
          <img class="animal-img__item" src="img/cat2.jpg" data-animal="cat" alt="cat2">
          <img class="animal-img__item" src="img/cat3.jpg" data-animal="cat" alt="cat3">
          <img class="animal-img__item" src="img/dog4.jpg" data-animal="dog" alt="dog1">
        </div>
        <span id="animal-error" class="form__error form__error--hidden">Вы выбрали собачку. А надо котика</span>
      </div>
      <span id="validation-error" class="form__error form__error--margin-top-20 form__error--display-none">Выберите котика, пожалуйста!</span>
    </form>
  </div>
  {{>pagination-btn}}
</div>
