<div class="pagination-btn">
  <a class="pagination-btn__item pagination-btn__prev"><i class="material-icons">keyboard_arrow_left</i> Предыдущий</a>
  <a class="pagination-btn__item pagination-btn__next">Следующий <i class="material-icons">keyboard_arrow_right</i></a>
  <a class="pagination-btn__item pagination-btn__finish button--display-none">Завершить</a>
    </div>
</div>
