<div class="pagination-pg">
  <a class="pagination-pg__item" data-value="1">1</a>
  <a class="pagination-pg__item" data-value="2">2</a>
  <a class="pagination-pg__item" data-value="3">3</a>
  <a class="pagination-pg__item" data-value="4">4</a>
</div>
