<div class="pagination-btn">
  <a class="pagination-btn__item pagination-btn__prev">
    <i class="material-icons">keyboard_arrow_left</i>
    <span class="pagination-btn__text">Предыдущий</span>
  </a>
  <a class="pagination-btn__item pagination-btn__next">
    <span class="pagination-btn__text">Следующий</span>
    <i class="material-icons">keyboard_arrow_right</i>
  </a>
  <a class="pagination-btn__item pagination-btn__finish button--display-none">Завершить</a>
    </div>
</div>
